<style>
    * {
      background-color: #fdfd96;
      color: black;
      font-family: Arial, sans-serif;
      line-height: 1;
      text-align: center
      }
</style>
<h1>Rotten Potatoes</h1>
<div, style = 'color: #ff0000'>Este filme não foi encontrado, cadastre-o em</div>
<%= link_to "novo filme", new_movie_path %>
<p>ou</p>
<p><%= link_to "Volte para tela principal", movies_path, class: "btn btn-primary" %></p>